{% extends "base.html" %}

{% block title %}Rezumat lunar | PocketPlan{% endblock %}

{% block content %}
    <h1>Rezumat lunar</h1>
        <form method="get">
        <label for="month">Selectează luna</label>
        <input
            id="month"
            name="month"
            type="month"
            value="{{ selected_month }}"
            required
        >
        <button type="submit">Afișează</button>
    </form>
    <p>Date demonstrative</p>

    <dl>
        <dt>Venituri</dt>
        <dd>{{ income|floatformat:2 }} lei</dd>

        <dt>Cheltuieli</dt>
        <dd>{{ expenses|floatformat:2 }} lei</dd>

        <dt>Bani rămași</dt>
        <dd>{{ balance|floatformat:2 }} lei</dd>
    </dl>
{% endblock %}