{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}PocketPlan{% endblock %}</title>
</head>
<body>
    <header>
        <p>PocketPlan</p>
    {% if user.is_authenticated %}
        <p>Salut, {{ user.username }}!</p>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Deconectare</button>
        </form>
    {% endif %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>